@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.App{
  font-family: 'DynaPuff', cursive; 
  min-height: 100vh;
  min-width: 100vw;
  border: 2px solid black;
  text-align: center;
}


