@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.App{
  font-family: 'DynaPuff', cursive; 
  min-height: 100vh;
  min-width: 100vw;
  border: 2px solid black;
  text-align: center;
}

.add-new-item-btn{
  position: absolute;
  right: 20px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.5s ease all;
}

.add-new-item-btn:hover{
  background-color: white;
  border: 2px solid black;
  color: black;
  transition: 0.5s ease all;
  text-decoration: underline;

}
